.your-positions {
  .position {
    margin-bottom: 5px;

    display: flex;

    .value {
      white-space: nowrap;
    }

    .description {
      line-height: 1.5;
      padding: 0 4px;
      flex-grow: 2;
    }

    .controls {
      flex-basis: 10%;

      button {
        margin: 0;
      }
    }
  }
}