@import "~scss/_variables.scss";

.sidebar {
  box-shadow: 0 0 26px rgba(0, 25, 60, 0.12);
}

.tabs {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  position: relative;

  font-size: 2rem;
  font-weight: bold;

  .tab-select {
    appearance: none;
    border: none;
    background: none;
    width: 100%;
    height: 100%;

    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 2rem;
    color: inherit;
    outline: none;
  }

  li {
    transition: all .4s ease;

    &.active, &:hover {
      outline: none;
      color: #009cb4;
      margin-bottom: 0px;
      border-bottom: 2px solid #009cb4;
    }
    line-height: 5rem;
    padding: 0;
    margin: 0;
    width: 100%;
    flex: 1;
    color: #a0a0a0;

    margin-bottom: 1px;
    border-bottom: 1px solid $greyBorder;
  }
}