@import "~scss/_variables.scss";
@import "../../sidebar.scss";

.buy {
  &-heading {
    @include sidebar-entry;
  }

  &-subheading {
    @include sidebar-entry;
  }

  &-select {
    @include sidebar-entry;
    font-size: 1.6rem;
    padding-top: 0;
  }

  &-empty {
    @include sidebar-empty;
    border-bottom: none;
    white-space: wrap;
    justify-content: center;
  }

  &-confirm {
    @include sidebar-entry;
    padding-top: 0;
  }

  &-summary {
    @include sidebar-entry;
    display: block;
  }

  &-investment {
    padding: 1rem 2rem;
    font-size: 1.4rem;
    line-height: normal;
    color: $shadeBlue;

    .input-label {
      color: $black;
      small {
        color: $shadeBlue;
      }
    }

    .buy-invest {
      -webkit-appearance: none;
      appearance: none;
      border: none;
      cursor: pointer;
      background: none;
      display: flex;
      font-size: 3.4rem;
      color: $blue;
      outline: 0;
      justify-content: center;
      align-items: center;
      line-height: 0;
      text-align: center;
      height: 3.4rem;
      width: 3.4rem;
      padding: 0 0 0 .5rem;
      box-sizing: border-box;
      margin-top: -.7rem;

      &:hover, &:focus, &:active {
        color: darken($blue, 20%);
      }
    }
  }
}

.button {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  text-transform: uppercase;
  display: block;
  width: 100%;
  cursor: pointer;
  color: $white;
  background: $blue;
  border-radius: .2rem;
  height: 5.2rem;
  padding: 0 1rem;
  font-weight: $bold;
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  outline: 0;

  &.disabled, &:disabled {
    opacity: 0.5;
    cursor: auto;
  }
}

.link-button {
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border: none;
  color: $blue;
  font-size: 1.4rem;
  text-align: right;
  text-decoration: underline;
  float: right;
  cursor: pointer;
  outline: 0;

  &:hover, &:focus, &:active {
    color: darken($blue, 20%);
  }
}

.collateral-name {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    line-height: 1;
    padding: 0 1rem;
    font-weight: $bold;
    font-size: 1.1rem;
    color: $blue;
    letter-spacing: 0;
    text-align: right;
}
