@import "~scss/_variables.scss";
@import "../../sidebar.scss";

.summary {
  &-element {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    padding: 0.5rem 0;

    &-value {
      font-size: 1.5rem;
      font-weight: $bold;

      .change-percentage {
          font-weight: $normal;
          color: $green;

          &.negative {
            color: $red;
          }
        }
    }

    .dotted-separator {
      border-bottom: 1px dotted $shadeBlue;
      flex: 1;
      margin: 0 0.3rem;
    }
  }
}
