@import "./Modals.scss";
@import "../scss/_variables.scss";

.apply-modal {
  background-color: $blue;

  .modal-header {
    display: flex;
    flex-flow: column wrap;
    line-height: 5rem;
    margin: 0;
    font-size: 3.5rem;

    .modal-close {
      color: $white;
    }

    &-image {
      height: 6rem;
      margin: 3rem 0;
    }
  }

  .modal-body {
    p {
      color: $black;
      font-size: 2rem;
    }
  }

  // Material ui styles overrides
  .apply-button {
    background-color: $white;
    &-label {
      font-size: 1.3rem;
      font-weight: $bold;
    }
  }

}
