@import "./Modals.scss";
@import "../scss/_variables.scss";

.apply-modal {
  background-color: $blue;
  max-width: 87rem;
  padding: 5.4rem;

    @media #{$tablet-small-max} {
      max-width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      bottom: 0;
      padding: 1.6rem;
      border-radius: 0;
      box-shadow: none;
      align-items: center;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
    }

  .modal-header {
    display: flex;
    flex-flow: column wrap;
    line-height: 5rem;
    margin: 0;
    font-size: 3.5rem;

    .modal-close {
      color: $white;
      top: 2.8rem;
      right: 2.8rem;
      font-size: 3.8rem;

        &::after {
          height: 2.8rem;
          width: 2.8rem;
        }
    }

    &-image {
      height: 6rem;
      margin: 3rem 0;
    }

    > p {
      font-weight: $bold;
      font-size: 4.2rem;
      color: $black;
      line-height: 1;
      text-align: center;
      margin: 0;

        @media #{$tablet-small-max} {
          font-size: 3.2rem;
        }
    }

    > p > b {
      color: $white;
      font-weight: $bold;
    }
  }

  .modal-body {
    p {
      color: $black;
      font-weight: $normal;
      font-size: 2.4rem;
      text-align: center;
      line-height: 1.4;
      margin: 2.4rem 0;

        @media #{$tablet-small-max} {
          font-size: 1.6rem;
          line-height: 1.6;
        }
    }
  }

  // Material ui styles overrides
  .apply-button {
    background: $white;
    border-radius: .3rem;
    padding: 1.6rem 6rem;
    box-shadow: none;
    font-family: $font;
    margin: 1.6rem auto 0;

    &-label {
        font-weight: $bold;
        font-size: 2.1rem;
        color: $black;
        letter-spacing: 0;
        text-align: center;
        line-height: 1;
        text-transform: none;
        font-family: inherit;;
    }
  }

}
