@import "./Modals.scss";

.connect-card {
  appearance: none;
  -webkit-appearance: none;
  background: $white;
  width: 18rem;
  border-radius: .6rem;
  border: .2rem solid $greyBorder2;
  transition: all .3s ease-in-out;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  top: 0;
  padding: 1rem;
  min-height: 22rem;
  outline: 0;

  a {
    color: $black;

    &:hover, &:focus, &:active {
      opacity: .8;
    }

    &:visited {
      color: $black;
    }
  }

  &-header {
    margin: 0;
    font-size: 1.5rem;
    font-weight: $bold;
    text-align: center;
    padding: 2rem 0;
  }

  &-subheader {
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
  }

  img {
    width: 40%;
    height: auto;
  }

  &:hover, &:active {
    top: -.5rem;
    border-color: $blue;
  }
}

.providers {
  display: flex;
  justify-content: center;
}