@import "~scss/_variables.scss";

.modal {
  height: auto;
  background-color: $white;
  border-radius: .3rem;
  box-shadow: 0 1rem 1.5rem 0 rgba(0, 30, 59, 0.15);
  max-width: 76rem;
  width: 100%;
  position: relative;

  &-close {
    position: absolute;
    appearance: none;
    -webkit-appearance: none;
    border: none;
    right: 2rem;
    color: $shadeBlue;
    font-size: 2.8rem;
    font-weight: $bold;
    transition: color .3s ease-in-out;
    text-decoration: none;

    &.disabled {
      opacity: 0.8;
      &:focus, &:active, &:hover {
        cursor: not-allowed;
        cursor: $shadeBlue;
      }
    }

    &::after {
      content: $x;
      color: inherit;
      display: flex;
      font-size: inherit;
      height: 2rem;
      width: 2rem;
      line-height: 1;
      align-items: center;
      justify-content: center;
      font-family: $arial;
    }

    &:focus, &:active, &:hover {
      text-decoration: none;
      cursor: pointer;
      color: $black;
    }

    &:visited {
      text-decoration: none;
      color: inherit;
    }
  }

  &-body {
    padding: 1rem;
    text-align: center;

      p {
        font-weight: $normal;
        font-size: 1.6rem;
        color: $shadeBlue;
        letter-spacing: 0;
        //text-align: center;
        line-height: 1.2;
      }
  }

  &-header {
    font-weight: $bold;
    font-size: 2.6rem;
    color: $black;
    letter-spacing: 0;
    text-align: center;
    margin: 2.5rem 0;
    padding: 0;
    line-height: 1;
  }
}

// Material ui styles overrides
.material-button {
  border-radius: .3rem;
  padding: 1.4rem 6rem;
  box-shadow: none;
  margin: 0.4rem 1.4rem;

  &-label {
    font-weight: $bold;
    font-size: 1.8rem;
    line-height: 1;
    text-transform: none;
  }
}