.mapboxgl-popup-tip {
  border: 0 !important; }

.mapboxgl-popup-content {
  border-radius: 0 !important;
  background-color: rgba(0, 0, 0, 0) !important;
  box-shadow: none !important;
  padding: 0 !important; }
