:global {
  body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #17394d;
    color: white;
  }

  button {
    background-color: #00a6c6;
    color: white;

    font-weight: lighter;
    text-transform: uppercase;
    padding: 8px 16px;
    margin: 12px 0;
    width: 100%;
  }

  section {
    padding: 28px 12px 0 12px;
    position: relative;
  }
}