@import "~scss/_variables.scss";

.trading-indicator {
  display: flex;
  align-items: center;

  .linear-progress {
    height: 2.5rem;
    width: 16rem;
    border: 0.1px solid $greyBorder2;
    border-right: 0;
    border-radius: 2px 0 0 2px;
    background-color: $white;
  }
  .linear-progress-bar {
    background-color: $lightBlue;
  }
  .progress-label {
    display: block;
    position: absolute;
    z-index: 1;
    text-align: center;
    width: 16rem;
    font-size: 1.2rem;
  }

  .indicator-label {
    font-size: 1.2rem;
    height: 2.5rem;
    line-height: 2.5rem;
    background-color: $blue;
    color: $white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 0.8rem;
    border-radius: 0 2px 2px 0;
  }
}