@import "../Modals.scss";
@import "../../scss/_variables.scss";

.modal {
  &-body {
    display:flex;
    flex-flow: column;
    max-width: 600px;
    margin: auto;
    padding: 1rem 4rem;

    &-attention {
      font-size: 1.8rem;
      color: $black;
      padding-top: 1rem;
    }

    .warning-block {
      border-radius: .3rem;
      background-color: $beige;
      margin: 2rem auto;
      padding: 2.4rem;
    }
  }
  
  .account-details {
    width: 100%;
    margin: auto;
    padding: 1rem 0;
    background-color: $lightBlue;
    color: $shadeBlue;
  
    .divider{
      margin: 1rem 0;
    }
    
    &-element {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      padding: 0.6rem 1.2rem;
      font-size: 1.4rem;
      
      .dotted-separator {
        border-bottom: 1px dotted $shadeBlue;
        flex: 1;
        margin: 0 0.3rem;
      }
    }
  }
}