@import "~scss/_variables";

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3.2rem;
  background: $white;
  border-top: .1rem solid $greyBorder;
  text-transform: uppercase;
  text-align: center;
  color: $black;
  padding: 1rem;

    @media #{$tablet-small-max} {
      position: relative;
      display: block;
      height: auto;
      padding: 2.4rem 2.4rem 10rem;
      font-size: 1.3rem;
    }
}

.footer-links {
  list-style: none;
  display: inline;
  padding: 0;
  margin: 0 0.5rem;

    @media #{$tablet-small-max} {
      margin: 2rem auto 0;
      display: flex;
      flex-flow: column wrap;
    }

    li {
      padding: 0;
      display: inline;
      margin: 0 0.5rem;

      @media #{$tablet-small-max} {
        margin: 0 0 1.4rem;

          &:last-of-type {
            margin: 0;
          }
      }

      a, a:visited {
        color: $blue;
      }

      a:hover {
        color: $black;
        text-decoration: underline;
      }
    }
}