@import "~scss/_variables.scss";

.buy {
  font-size: 1.6rem;
  padding: 2rem;

  .outcomes {
    display: flex;
    margin: 1rem 0;
    justify-content: space-between;

    .outcome-button {
      appearance: none;
      -webkit-appearance: none;
  
      padding: 2.4rem;
      border: 2px solid $greyBorder;
      border-radius: 2px;
      width: 100%;

      &:first-of-type {
        margin-right: 1rem;
      }
      &:last-of-type {
        margin-left: 1rem;
      }
    }
    .icon {
      display: inline;
      padding-left: 2rem;
      
      margin-right: 0.5rem;

      &-arrow-up {
        background: url("~assets/icons/arrow-thin.svg") center center no-repeat;
      }
      &-arrow-down {
        background: url("~assets/icons/arrow-thin.svg") center center no-repeat;
      }
    }
  }

  .selected-invest {
    .input {
      display: block;
      position: relative;

      &-max {
        position: absolute;
        left: 1rem;
        height: 100%;
        appearance: none;
        -webkit-appearance: none;
        border: none;
        background: none;
        color: $blue;
        line-height: 0;
        text-decoration: underline;
        top: 0;
      }

      &-right {
        position: absolute;
        right: 1rem;
        line-height: 0;
        top: 0;
        line-height: 4;
        height: 100%;
      }

      .investment {
        display: block;
        padding: 1rem;
        font-size: 3.6rem;
        text-align: right;
        margin: 1rem 0;
        width: 100%;
        border: 2px solid $greyBorder;
        border-radius: 2px;
        padding-right: 5rem;
      }
    
    }
  }

  .slider {
    input[type="range"] {
      width: 100%;
    }

    .labels {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }

    
  }

  .fieldset-label {
    font-size: 1.5rem;
  }
}