@import "~scss/_variables.scss";

.market-row {
  margin: 0 auto;
  padding-top: 1rem;
  width: 40vw;

  @media #{$tablet-small-max} {
    width: 100%;
  }

  .header {
    display: block;
    width: 100%;
    font-size: 2.4rem;
    font-weight: 600;
    color: $black;
  }

  .subheader {
    margin: 1rem 0;

    display: flex;
    flex-direction: row;

    .property {
      font-size: 1.2rem;

      .icon {
        display: inline;
        padding-left: 2rem;

        margin-right: 0.5rem;

        &-time {
          background: url("~assets/icons/market_ends.svg") center center no-repeat;
        }
        &-oracle {
          background: url("~assets/icons/market_oracle.svg") center center no-repeat;
        }
        &-volume {
          background: url("~assets/icons/market_funding.svg") center center no-repeat;
        }
      }

      .link-oracle {
        text-decoration: none;
        color: $black;
      }

      margin-right: 1rem;
    }
  }
}
