@import "~scss/_variables.scss";

.resolution-date {
  @media #{$tablet-small-max} {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  > strong {
    font-size: 1.5rem;
    color: $black;

      @media #{$tablet-small-max} {
        margin: 0 1rem 0 0;
      }
  }

  > p {
    margin: 0;
    font-size: 1.4rem;
    color: $shadeBlue;
    line-height: 1.4;
  }
}