@import "~scss/_variables.scss";

:global {
  .outcome-selection {
    width: 100%;

    > .outcome-selection__control {
      position: relative;
      padding: 0;
      border-radius: .2rem;
      border: .1rem solid $greyBorder2;
      background: none;
      color: $shadeBlue;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      outline: 0;
      cursor: pointer;
      border-color: $blue;
      height: 5.2rem;

      &--is-focused {
        background-color: $grey;
      }
    }

    > .outcome-selection__value-container {
      padding: 0;
    }

    .outcome-selection__indicator-separator {
      display: none;
    }

    > .outcome-selection__menu {
      margin-top: 0.1rem;
      border-radius: 0;
      cursor: pointer;

        div { cursor: pointer; }
    }

    .outcome-selection__dropdown-indicator {
      background: url("~assets/icons/down-angle.svg") center center / 1.6rem 1rem no-repeat;
      height: 5.2rem;

      padding: 0 1.8rem 0 1.8rem !important;

      svg {
        display: none;
      }
    }
  }
}