@import "~scss/_variables.scss";

.graph-container {
  position: relative;

  svg {
    overflow: visible;
  }

  &.empty {
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.tooltip-inner {
  font-weight: 800;
  white-space: nowrap;
  padding: 0.5rem 0.3rem;

  &::before, &::after {
    content: '';
    position: absolute;
    top: 50%;
    z-index: -1;
  }

  &::after {
    left: -5px;
    width: 5px;
    border-bottom: 1px solid $black;
  }

  // &::before {
  //   left: 0px;
  //   width: 10px;
  //   border-bottom: 1px dashed $black;
  // }
}

@mixin tooltipStyle() {
  transition: none !important;
  right: -80px;
}

.scalar-graph {
  // wrapper for .tooltip-selected-position
  :global {
    .recharts-tooltip-wrapper {
      @include tooltipStyle();
    }
  }
  
  .tooltip-current-position {
    @include tooltipStyle();
  
    position: absolute;
    top: 0;
    z-index: 1;
  
    .tooltip-inner {
      border-radius: 3px;
      background-color: $blue;
      color: #fff;

      &::after {
        border-bottom: 1px solid $blue;
      }
    }
  }

  .tooltip-winning-outcome {
    @include tooltipStyle();
  
    position: absolute;
    top: 0;
    z-index: 1;
  
    .tooltip-inner {
      border-radius: 3px;
      background-color: #16ae60;
      color: #fff;
    }
  }
  
}
