.graph-container {
  position: relative;

  svg {
    overflow: visible;
  }

  &.empty {
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.tooltip {
  &-inner {
    font-weight: 800;
    white-space: nowrap;
    padding: 0.1rem 0.3rem;
    transform: translate(0, -50%);

    &::before, &::after {
      content: '';
      position: absolute;
      top: 50%;
      z-index: -1;
    }

    &::after {
      left: -90px;
      width: 10px;
      border-bottom: 1px solid black;
    }

    &::before {
      left: -80px;
      width: 80px;
      border-bottom: 1px dashed black;
    }
  }
}

@mixin tooltipStyle() {
  transition: none !important;
  right: -178px;
}

.scalar-graph {
  // wrapper for .tooltip-selected-position
  :global {
    .recharts-tooltip-wrapper {
      @include tooltipStyle();
    }
  }
  
  .tooltip-current-position {
    @include tooltipStyle();
  
    position: absolute;
    top: 0;
  
    .tooltip-inner {
      border-radius: 3px;
      background-color: #009cb4;
      color: #fff;
    }
  }
  
}
