@import "~scss/_variables.scss";

.menu {
  height: 100%;


  @media #{$tablet-small-max} {
    display: none;
  }

  ul {
    height: 100%;
    margin: 0 1.5rem;
    list-style: none;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
  }

  .menu-item {
    font-weight: $bold;
    height: auto;
    font-size: 1.6rem;
    line-break: 1;
    padding: 0 1rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 100%;

    &.active {
      border-bottom: .4rem solid $blue;
    }
  }
}