@import "~scss/_variables.scss";

.outcome-card {
  position: relative;
  margin: .6rem 0;
  display: flex;
  white-space: nowrap;

  :first-child {
    border-top-left-radius: .3rem;
    border-bottom-left-radius: .3rem;
  }

  .market {
    background-color: $shadeBlue;
    color: $white;
    font-size: 1.3rem;
    font-weight: $bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 .6rem;
    letter-spacing: .1rem;
  }

  .outcome {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    border: 0.1rem solid $greyBorder2;
    background: $white;
    border-left: none;
    font-weight: bold;
    font-size: 1.3rem;
    color: $darkBlue;
    letter-spacing: 0;
    line-height: 1;
    padding: .5rem;
  }

  &.glue {
    &--or {
      &:not(:last-of-type) {
        &::after {
          content: 'or';
        }
      }
    }

    &--and {
      &:not(:last-of-type) {
        &::after {
          content: '&';
        }
      }
    }


    &:not(:last-of-type) {
      &::after {
        height: 100%;
        line-height: 1;
        margin: .6rem .4rem;
        font-weight: bold;
        font-size: 1.3rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  
  &.prefix {
    &::before {
      height: 100%;
      line-height: 1;
      margin: .6rem .4rem;
      font-weight: bold;
      font-size: 1.3rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &--IF {
      &::before {
        content: 'IF';
      }
    }
  }
}

.dot {
  width: 1.2rem;
  height: 0;
  display: inline-block;
  position: relative;
  margin-right: .2rem;

  &.yes {
    color: $blue;
  }

  &.no {
    color: $red;
  }

  &::after {
    content: '';
    display: block;
    background-color: currentColor;
    position: absolute;
    left: calc(50% - .6rem);
    width: 1.2rem;
    height: 1.2rem;
    margin-top: -1.1rem;
    border-radius: 100%;
  }
}