.toasts {
  position: fixed;
  right: 1rem;
  bottom: 1rem;

  .toast {
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 0 10px 0 rgba(33, 48, 77, 0.1);
    margin-top: 0.5rem;
    padding: 1rem 0.5rem 1rem 0.5rem;

    border-left: 6px solid #dedfde;
    font-size: 90%;

    min-width: 19rem;
    max-width: 29rem;

    display: flex;
    align-items: center;

    .message {
      flex: 1;
    }

    .icon {
      width: 18px;
      height: 18px;
      margin: 8px;
      display: inline-block;
      position: relative;
      font-style: normal;

      &.close {
        justify-self: flex-end;
        &::after {
          position: absolute;
          line-height: 0;
          top: 50%;
          left: 50%;
          font-size: 150%;
          content: '\00D7';
          transform: translate(-6px, -1px);
        }
      }
    }

    &-type-info {
      border-left-color: #009cb4;
    }

    &-type-success {
      border-left-color: #02ae60;

      .icon.success {
        background-color: #02ae60;
        -webkit-mask: url("~assets/icons/check-circle.svg") no-repeat center;
        mask: url("~assets/icons/check-circle.svg") no-repeat center;
      }
    }

    &-type-error {
      border-left-color: #ff685e;

      .icon.error {
        background-color: #ff685e;
        -webkit-mask: url("~assets/icons/cross-circle.svg") no-repeat center;
        mask: url("~assets/icons/cross-circle.svg") no-repeat center;
      }
    }
  }
}

.close-button {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  background: none;
}