@import "~scss/_variables.scss";

.toasts {
  position: fixed;
  right: 5rem;
  bottom: 5rem;
  z-index: 9999;

    @media #{$tablet-small-max} {
      bottom: 8rem;
      left: 0;
      right: 0;
      margin: auto;
      width: 90%;
    }

  .toast {
    background-color: $white;
    border-radius: .3rem;
    box-shadow: 0 0 1rem 0 rgba(33, 48, 77, 0.1);
    margin-top: 0.5rem;
    padding: 1rem 0.5rem 1rem 0.5rem;
    border-left: .6rem solid $greyBorder2;
    font-size: 1.4rem;
    min-width: 19rem;
    max-width: 29rem;
    display: flex;
    align-items: center;

    .message {
      flex: 1;
    }

    .icon {
      width: 1.8rem;
      height: 1.8rem;
      margin: .8rem;
      display: inline-block;
      position: relative;
      font-style: normal;

      &.close {
        justify-self: flex-end;

        &::after {
          position: absolute;
          line-height: 0;
          top: 50%;
          left: 50%;
          font-size: 150%;
          content: '\00D7';
          transform: translate(-.6rem, -.1rem);
        }
      }
    }

    &-type-info {
      border-left-color: $blue;
    }

    &-type-success {
      border-left-color: $green;

      .icon.success {
        background-color: $green;
        -webkit-mask: url("~assets/icons/check-circle.svg") no-repeat center;
        mask: url("~assets/icons/check-circle.svg") no-repeat center;
      }
    }

    &-type-error {
      border-left-color: $red;

      .icon.error {
        background-color: $red;
        -webkit-mask: url("~assets/icons/cross-circle.svg") no-repeat center;
        mask: url("~assets/icons/cross-circle.svg") no-repeat center;
      }
    }
  }
}

.close-button {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  background: none;
}