@import "~scss/_variables.scss";

.user-wallet {
  display: flex;
  padding: 1rem 1.6rem;
  justify-content: center;
  align-items: center;
  height: 100%;

  > span {
    font-size: 1.5rem;
    color: $black;
    letter-spacing: 0.05rem;
    text-align: right;
    margin: 0 1rem 0 0;
  }

  .avatar {
    height: 4.2rem;
    width: 4.2rem;
    position: relative;
    border-radius: 100%;
    overflow: hidden;

      @media #{$tablet-small-max} {
        height: 2.6rem;
        width: 2.6rem;
      }

    &-image {
      max-height: 100%;
      max-width: 100%;
      image-rendering: pixelated;
    }
  }

  > svg {
    height: 80%;
  }

  > svg > path {
    fill: $black;
  }
}

.connect-wallet {
  appearance: none;
  -webkit-appearance: none;
  background: none;
  text-transform: uppercase;
  font-weight: $bold;
  border-radius: .3rem;;
  background: $green;
  color: $white;
  letter-spacing: .1rem;
  font-size: 1.2rem;
  border: 0;
  padding: 1rem;

  &:hover, &:focus, &:active {
    background-color: darken($green, 20%);
  }
}


.link-button {
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border: none;
  color: $blue;
  font-size: 1.4rem;
  text-align: right;
  text-decoration: underline;
  float: right;
  cursor: pointer;
  outline: 0;

  &:hover, &:focus, &:active {
    color: darken($blue, 20%);
  }
}
