@import "~scss/_variables.scss";

.user-wallet {
  display: flex;
  padding: 1rem 1.6rem;
  justify-content: center;
  align-items: center;
  height: 100%;


  > span {
    font-size: 1.5rem;
    color: $darkBlue;
    letter-spacing: 0.05rem;
    text-align: right;
    margin: 0 1rem 0 0;
  }

  .avatar {
    height: 4.2rem;
    width: 4.2rem;
    position: relative;
    border-radius: 100%;
    overflow: hidden;

    &-image {
      max-height: 100%;
      max-width: 100%;
      image-rendering: pixelated;
    }
  }
}

.connect-wallet {
  appearance: none;
  -webkit-appearance: none;
  background: none;
  text-transform: uppercase;
  font-weight: bolder;
  padding: 1rem 0.8rem;
  border-radius: .3rem;;
  border: .1rem solid $greyBorder2;

  background-color: $green;
  color: $white;

  &:hover, &:focus, &:active {
    background-color: darken($green, 20%);
  }
}