@import "~scss/_variables.scss";

.sidebar {

}

.tabs {
  height: 5rem;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  position: relative;

  font-size: 2rem;
  font-weight: bold;

  .tab-select {
    appearance: none;
    border: none;
    background: none;
    width: 100%;
    height: 100%;
  }

  li {
    line-height: 5rem;
    padding: 0;
    margin: 0;
    width: 50%;

    text-transform: uppercase;

    &:hover {
      border-bottom: 1px solid $shadeBlue;
    }
  }
}