@import "../../Modals.scss";
@import "~scss/_variables.scss";

.non-eu-resident-modal {
  .modal-body {
    display:flex;
    flex-flow: column;
    max-width: 600px;
    margin: auto;
    padding: 1rem 4rem;
  }

  .form {
    width: 80%;
    margin: auto;
    padding: 1rem 0;

    form{
      display: flex;
      flex-flow: column;
    }

    .field-row {
      margin: 0.8rem 0;
    }
  }
  
  // Material ui styles overrides
  .submit-button {
    background: $blue;
    border-radius: .3rem;
    padding: 1.6rem 6rem;
    box-shadow: none;
    font-family: $font;
    margin: 1.6rem auto;

    &-label {
        font-weight: $bold;
        font-size: 1.8rem;
        color: $white;
        letter-spacing: 0;
        text-align: center;
        line-height: 1;
        text-transform: none;
        font-family: inherit;;
    }
  }
  .cancel-button {
    font-size: 1.4rem;
  }
}