@import "./fonts.scss";

:global {
  body {
    font-family: 'Averta', sans-serif;
    background-color: #f7f8fb;
    color: #000;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }  
}
