@import "./_variables.scss";
@import "./fonts.scss";

:global {
  body {
    font-family: $font;
    margin: 0;
    background: $grey;
  }

  ::selection {
    color: $white;
    background: $blue;
  }

  html {
    box-sizing: border-box;
    margin: 0;
    font-family: $font;
    color: $black;
    padding: 0;
    margin: 0;
    font-size: 62.5%; // Percentage allows us to use 1rem = 10px and e.g. 1.6rem = 16px. Helps to render correct on larger screen / high pixel density devices.
    line-height: $base-line-height;
    margin: 0;
    scroll-behavior: smooth;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html, body, #root, .page {
    height: 100%;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }
}
