@import "~scss/_variables.scss";

.buy {
  font-size: 1.6rem;
  line-height: normal;
  padding-top: 1rem;
  color: #4b697d;

  .outcomes {

    display: flex;
    margin: 1rem 0;
    justify-content: space-between;

    .outcome-button {
      appearance: none;
      -webkit-appearance: none;
  
      padding: 2.4rem;
      border: 2px solid $greyBorder;
      border-radius: 2px;
      width: 100%;
      position: relative;
      transition: all .4s ease;

      &:hover {
        border-color: rgba(2, 174, 96, 0.32);
        background-color: rgba(2, 174, 96, 0.05);
        outline: none;
      }
      &.active {
        border-color: #02ae60;
        background-color: rgba(2, 174, 96, 0.05);
        outline: none;


        &::after {
          content: '';
          position: absolute;
          display: block;
          width: 24px;
          height: 24px;
          margin: -12px -12px;
          top: 100%;
          left: 50%;
          background: url("~assets/icons/outcome_select.svg") center center no-repeat;
        }
      }

      &:first-of-type {
        margin-right: 1rem;
      }
      &:last-of-type {
        margin-left: 1rem;
      }
    }
    .icon {
      display: inline;
      padding-left: 2rem;
      
      margin-right: 0.5rem;

      &-arrow-up {
        background: url("~assets/icons/arrow-up-thin.svg") center center no-repeat;
      }
      &-arrow-down {
        transform: rotate(180deg);
        background: url("~assets/icons/arrow-down-thin.svg") center center no-repeat;
      }
    }
  }

  .selected-outcome {
    padding: 1rem 2rem;
  }

  .selected-invest {
    padding: 1rem 2rem;
  }

  .fieldset-label {
    font-size: 1.4rem;
    line-height: 3rem;
    color: $black;

    small {
      color: $shadeBlue;
    }
  }

  .pl-sim {
    background-color: #f2fafb;
    padding: 1rem 2rem;
  }
}

.invest-ctrls {
  padding: 1rem 2rem;
  
  .buy-button {
    width: 100%;
    display: block;
    background-color: #009cb4;
    color: white;
    appearance: none;
    -webkit-appearance: none;

    border: none;
    border-radius: 3px;
    text-align: center;
    padding: 1rem 2rem;
  }
}
