@import "~scss/_variables.scss";
// @import "../../CategoricalSidebar/Positions/sidebar.scss";

.positions {
  &.resolved {
    .positions-subheading {
      line-height: normal;
      height: auto;
      text-align: justify;
    }
  }

  &-heading {
    //@include sidebar-entry;
    font-size: 1.4rem;
    font-weight: $bold;
  }

  &-empty {
    //@include sidebar-empty;

    padding: 4rem 1rem;
    display: flex;
    font-size: 1.4rem;
    justify-content: center;
  }

  &-subheading {
    //@include sidebar-entry;
    border-bottom: none;
    white-space: nowrap;
    font-weight: $normal;
    display: flex;
    flex: 0;
    font-size: 1.3rem;
    text-align: left;
    color: $shadeBlue;
    letter-spacing: 0;
    height: 3.2rem;
    padding: 1.6rem;
    white-space: normal;
    margin: 1.6rem 0 0;

    .position-col-value {
      min-width: 6rem;
    }
  }

  &-redeem {
    //@include sidebar-entry;
    border-bottom: none;
    flex-flow: column wrap;

    .redeem-all {
      -webkit-appearance: none;
      appearance: none;
      border: none;
      background-color: $green;
      border-radius: .2rem;
      text-transform: uppercase;
      display: block;
      width: 100%;
      padding: 1rem 0;
      color: $white;
      font-weight: $bold;
      letter-spacing: .03rem;
      cursor: pointer;
      outline: 0;

      &.disabled, &:disabled {
        opacity: .4;
      }
    }
  }
}

.position-entry {
  display: flex;
  align-self: flex-start;
  flex-wrap: wrap;
  //@include sidebar-entry;
  padding: 2rem 1.8rem;
  border-bottom: none;

  &:nth-child(even) {
    background-color: #f7f8fb;
  }

  .value {
    text-align: right;
    padding: 0.3rem;
    margin: 0;
  }
}

.position-sell {
  appearance: none;
  -webkit-appearance: none;
  border-radius: .3rem;
  background-color: $red;
  color: $white;
  text-transform: uppercase;
  border: 0;
  font-weight: $bold;
  font-size: 1.2rem;
  letter-spacing: 0;
  text-align: center;
  padding: .5rem;
  cursor: pointer;

  &:disabled {
    opacity: 0.75;
  }
}

.position-col {
  letter-spacing: -0.03rem;
  white-space: nowrap;

  &-outcome, &-qty, &-value, &-sell {
    flex: 1;
  }

  &-value {
    text-align: right;
    min-width: 8.5rem;
  }

  &-sell {
    text-align: right;
  }

  &-price {
    text-align: right;
    min-width: 6rem;
  }
}

.position-entries-table {
  width: 100%;
  font-size: 1.3rem;
  letter-spacing: -0.03rem;
  white-space: nowrap;
  border-collapse: collapse;
  line-height: normal;

  thead > tr > td {
    font-weight: $normal;
    color: #526877;
    white-space: nowrap;
  }

  td {
    padding: 1.2rem .2rem;
    text-align: left;
    font-weight: $normal;
    font-size: 1.2rem;
    color: $black;
    letter-spacing: -.05rem;
    white-space: normal;
    word-break: break-all;

    &:first-child {
      padding-left: 1.8rem;
    }

    &:last-child {
      padding-right: 1.8rem;
      text-align: right;
      word-break: normal;
    }
  }

}

.sell {
  font-size: 1.3rem;
  line-height: normal;
  padding-bottom: 1rem;

  &-heading {
    //@include sidebar-entry;

    width: 100%;
    display: flex;
    border-bottom: none;
    font-weight: $bold;
    font-size: 1.4rem;
    padding: 1.2rem 1.4rem;
  }

  &-cancel {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    font-style: normal;
    color: $shadeBlue;
    margin-left: auto;


    font-size: 2.8rem;
    font-weight: bold;
    transition: color .3s ease-in-out;
    text-decoration: none;

    &::after {
      content: $x;
      color: currentColor;
      display: flex;
      font-size: inherit;
      height: 2rem;
      width: 2rem;
      line-height: 1;
      align-items: center;
      justify-content: center;
      font-family: $arial;
    }

    &:focus, &:active, &:hover {
      text-decoration: none;
      color: $black;
    }
  }

  &-form {
    display: flex;
    flex-direction: column;

    &-row {
      display: flex;
      padding: 0 1.6rem;
      margin: .2rem 0;
      min-height: 3rem;

      .entry {
        flex: 1 1 34%;
      }

      label {
        flex: 1;
        display: flex;
        align-items: center;
      }

      input {
        display: block;
        min-height: 3rem;
        flex: 0 1 auto;
        width: 79%;
      }
    }
  }

  &-confirm {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    text-transform: uppercase;
    display: block;
    width: 100%;
    cursor: pointer;
    color: $white;
    background: #ff685e;
    border-radius: .2rem;
    height: 5.2rem;
    padding: 0 1rem;
    font-weight: $bold;
    font-size: 1.4rem;
    letter-spacing: 0.05rem;

    &.disabled, &:disabled {
      opacity: 0.5;
      cursor: auto;
    }
  }
}


.input-group {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  height: 5rem;
  padding: 0;
  font-weight: normal;
  border: .1rem solid $greyBorder2;
  border-radius: .3rem;
  justify-content: space-between;
  margin: 0;
}

.input {
  border: 0;
  font-size: 1.5rem;
  color: $shadeBlue;
  letter-spacing: 0;
  text-align: right;
  font-weight: normal;
  margin: 0 0 0 auto;
  outline: 0;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &:disabled, &[readonly] {
    background: #f3f4f6;

    + .input-append {
      background: #f3f4f6;
    }
  }
}

.input-spinner {
  position: absolute;
  left: 50%;
  margin-left: -6px;
  margin-top: -6px;
  top: 50;
  background: none;
}

.input-append {
  font-weight: bold;
  font-size: 1.3rem;
  color: $blue;
  letter-spacing: 0;
  flex: 1;

  &:first-child {
    appearance: none;
    -webkit-appearance: none;
    border: none;
    text-decoration: underline;
    outline: none;
  }

  &:last-child {
    position: relative;
    line-height: 48px;
    padding: 0 1rem;
    height: 100%;
    display: block;
    text-align: end;
  }
}
