.page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.loading-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sections {
  display: flex;
  flex: 1;


  .section {
    &-markets {
      flex: 1;
      padding: 1em 2em;
      border-right: 1px solid #dedfde;
    }

    &-positions {
      background: #ffffff;
      flex-basis: 20%;
    }
  }
}
