@import "../../node_modules/normalize.css/normalize.css";

$background-muted: #dcdcdc;
$button-color-primary: #00a6c6;

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #17394d;
  color: white;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

button {
  background-color: $button-color-primary;
  color: white;

  // [disabled] or disabled class
  &:disabled, &.disabled {
    opacity: 0.6;
    cursor: not-allowed;
  } 

  font-weight: lighter;
  text-transform: uppercase;
  padding: 8px 16px;
  margin: 0;

  border: 0 solid transparent;
  transition: all 0.2s ease-in-out;

  // remove all outlines
  &:focus, &:active, &:visited, &:hover {
    outline: 0;
  }

  &:hover {
    background-color: lighten($button-color-primary, 7%);
  }

  &:active, &.selected {
    background-color: lighten($button-color-primary, 7%);
    box-shadow: 0px 0px 8px rgb(77, 144, 254);
  }
}

.spinner {
  path {
    fill: #000;
  }

  &.inverted {
    path {
      fill: #fff;
    }
  }
}

.loading-page, .failure-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.page {
  background: whitesmoke;
  color: black;
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
}

.page-title {
  flex: 0 0 100%;
  text-align: center;
}

.market-section {
  margin: 1em;
  flex: 2 1 600px;
  max-width: 100%;
}

.position-section {
  margin: 1em;
  padding: 1em;
  border: solid 1px #646464;
  flex: 1 1 300px;
  max-width: 100%;
  height: fit-content;

  .heading {
    margin-top: 0;
  }
}

.market {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  .title-section {
    flex-basis: 100%;
    display: flex;

    flex-wrap: wrap;

    .title {
      flex: 10 0 320px;
      max-width: 100%;
    }

    .title-infos {
      flex: 1 0 240px;
      max-width: 100%;

      display: flex;
      justify-content: space-around;

      .title-info {
        flex: 1;
        color: #323232;
        text-align: center;
        
        .label {
          text-transform: uppercase;
          font-weight: 200;
          margin-bottom: 0;
        }
  
        .value {
          font-weight: 800;
          margin-top: 0;
        }
      }
    }
  }

  .outcomes-section {
    flex: 10 0 320px;
    max-width: 100%;
  }

  .selection-section {
    flex: 1 0 240px;
    max-width: 100%;
  }
}

.binary-outcome {
  &.closed {
    .hint, .bar, .inner-bar {
      opacity: 0.75;
    }
  }

  .bar {
    margin: 56px 32px;
    position: relative;
    height: 36px;
    display: block;

    background-color: rgba(220, 220, 220, 0.4);


    .inner-bar {
      position: relative;
      height: 100%;
      transition: all 1s ease-in-out;

      // increase brightness dynamically
      &::after {
        content: '';
        background: white;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        transition: opacity ease 0.2s;
      }
    }

    .hint {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -100%);

      color: #000;
      text-align: center;
      white-space: nowrap;

      background-color: inherit;
      border-color: inherit;
      border-radius: 4px;
      padding: 8px 6px;
      opacity: 0.8;

      transition: all .2s ease;

      .text {
        width: 100%;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &::after {
        position: absolute;
        bottom: -8px;
        content: '';

        left: 50%;
        transform: translate(-50%, 0);

        border-style: solid;
        border-width: 8px 5px 0 5px;
        border-color: inherit;
        border-left-color: transparent;
        border-right-color: transparent;
      }
    }

    .current {
      &::after {
        opacity: 0.4;
      }

      .hint {
        min-width: 70px;
        top: -(8px + 2px); // 8px = arrow height, 2px = spacing
        
        &::after {
          bottom: -8px;
          border-width: 8px 5px 0 5px;
        }
      }
    }

    .staged {
      position: absolute;

      &.inverted {
        right: 0;
        left: initial;

        &::after {
          opacity: 0.2;
        }
      }

      left: 0;
      top: 0;

      &::after {
        opacity: 0.8;
      }

      .hint {
        min-width: 170px;
        top: calc(100% + 36px + 8px);
        
        &::after {
          top: -7px;
          bottom: auto;
          border-width: 0px 5px 8px 5px;
        }
      }

      // shift left/right if we're too close to the edges of the outcome-bar
      &.shift-left {
        .hint {
          transform: translate(95%, -100%);

          &::after {
            left: 5%;
          }
        }
      }

      &.shift-right {
        .hint {
          transform: translate(5%, -100%);

          &::after {
            left: 95%;
          }
        }
      }
    }
  }
}

.outcome-selection {
  .assume {
    width: 100%;

    > div {
      padding: 0.5em 1em;
    }

    input[type="checkbox"] {
      pointer-events: none;
      margin-right: 5px;
    }

    label {
      font-size: 70%;
    }
  }

  .row-outcomes {
    display: flex;

    button {
      flex: 1;
    }
  }

}

.error {
  color: red;
}

.positions {
  input, button {
    margin: .5em 0;
    width: 100%;
  }
}

.position {
  margin-bottom: 1em;
  line-height: 1.5;
}

.details {
  display: flex;

  .value {
    flex: 1;
    white-space: nowrap;
  }

  .description {
    flex: 3;
  }

  .controls {
    flex: 0 0;
  }
}

.sell {
  position: relative;
  background-color: $background-muted;
  padding: .5em 1em;
  margin: 1em 0;

  .controls {
    display: flex;
    flex-wrap: wrap;

    input {
      height: 2em;
      flex: 0 0 100%;
    }

    button {
      flex: 1 1 10%;
      min-height: 2em;
    }
  }

  &::after {
    position: absolute;
    top: -9px;
    content: '';
    left: 50%;
    transform: translate(-50%, 0);

    border-style: solid;
    border-width: 0px 16px 10px 16px;
    border-color: $background-muted;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
  }
}
