@import "~scss/_variables.scss";
@import "../sidebar.scss";

.positions {
  &-heading {
    @include sidebar-entry;
    font-weight: $bold;
  }

  &-empty {
    @include sidebar-empty;
    font-size: 1.4rem;
    justify-content: center;
  }

  &-subheading {
    @include sidebar-entry;
    border-bottom: none;
    white-space: nowrap;
    font-weight: $normal;
    display: flex;
    flex: 0;
    font-size: 1.3rem;
    text-align: left;
    color: $shadeBlue;
    letter-spacing: 0;
    height: 3.2rem;
    padding: 1.6rem;
    white-space: normal;
    margin: 1.6rem 0 0;

    .position-col-value {
      min-width: 6rem;
    }
  }

  &-redeem {
    @include sidebar-entry;
    border-bottom: none;

    .redeem-all {
      -webkit-appearance: none;
      appearance: none;
      border: none;
      background-color: $green;
      border-radius: .2rem;
      text-transform: uppercase;
      display: block;
      width: 100%;
      padding: 1rem 0;
      color: $white;
      font-weight: $bold;
      letter-spacing: .03rem;
      cursor: pointer;
      outline: 0;

      &.disabled, &:disabled {
        opacity: .4;
      }
    }
  }
}

.position-entry {
  display: flex;
  align-self: flex-start;
  flex-wrap: wrap;
  @include sidebar-entry;
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: none;

  &:nth-child(even) {
    background-color: #f7f8fb;
  }

  .value {
    text-align: right;
    padding: 0.3rem;
    margin: 0;
  }
}

.position-sell {
  appearance: none;
  -webkit-appearance: none;
  border-radius: .3rem;
  background-color: $red;
  color: $white;
  text-transform: uppercase;
  border: 0;
  font-weight: $bold;
  font-size: 1.2rem;
  letter-spacing: 0;
  text-align: center;
  padding: .5rem;
  cursor: pointer;

  &:disabled {
    opacity: 0.75;
  }
}

.position-col {
  letter-spacing: -0.03rem;
  white-space: nowrap;

  &-outcome, &-qty, &-value, &-sell {
    flex: 1;
  }

  &-value {
    text-align: right;
    min-width: 8.5rem;
  }

  &-sell {
    text-align: right;
  }

  &-price {
    text-align: right;
    min-width: 6rem;
  }
}

.position-entries-table {
  width: 100%;
  font-size: 1.3rem;
  letter-spacing: -0.03rem;
  white-space: nowrap;
  border-collapse: collapse;
  line-height: normal;

  thead > tr > td {
    font-weight: $bold;
    white-space: nowrap;
  }

  td {
    padding: .4rem .2rem;
    text-align: left;
    font-weight: $normal;
    font-size: 1.2rem;
    color: $black;
    letter-spacing: -.05rem;
    white-space: normal;
    word-break: break-all;

    &:first-child {
      padding-left: 1rem;
      font-weight: $bold;
    }

    &:last-child {
      padding-right: 1rem;
      text-align: right;
      word-break: normal;
    }
  }

  tr {
    border-bottom: .1rem solid $greyBorder;
    transition: background .15s ease-in-out;
    &:hover {
      background: #F2FAFB;
    }
  }

}