@import "~scss/_variables.scss";
@import "../sidebar.scss";

.positions {
  &-heading {
    @include sidebar-entry;

    font-weight: $bold;
  }

  &-empty {
    @include sidebar-empty;
    font-size: 1.4rem;
    justify-content: center;
  }

  &-subheading {
    @include sidebar-entry;
    border-bottom: none;
    font-weight: $normal;
    display: flex;
    font-size: 1.3rem;
    color: $shadeBlue;
    letter-spacing: 0;
    height: 3.2rem;
    padding: 1.6rem;
  }

  &-redeem {
    @include sidebar-entry;
    border-bottom: none;

    .redeem-all {
      -webkit-appearance: none;
      appearance: none;
      border: none;
      background-color: $green;
      border-radius: .2rem;
      text-transform: uppercase;
      display: block;
      width: 100%;
      padding: 1rem 0;
      color: $white;

      &.disabled, &:disabled {
        opacity: 0.4;
      }
    }
  }
}

.position-entry {
  display: flex;
  align-self: flex-start;
  flex-wrap: wrap;
  @include sidebar-entry;
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: none;

  &:nth-child(even) {
    background-color: #f7f8fb;
  }

  .value {
    text-align: right;
    padding: 0.3rem;
    margin: 0;
  }
}

.position-sell {
  .button {
    appearance: none;
    -webkit-appearance: none;
    border-radius: .3rem;
    background-color: $red;
    color: $white;
    text-transform: uppercase;
    border: 0;
    font-weight: $bold;
    font-size: 1.3rem;
    letter-spacing: 0;
    text-align: center;
    padding: .5rem 1.2rem;

    &:disabled {
      opacity: 0.75;
    }
  }
}

.position-col {
  &-outcome {
    width: 33%;
  }

  &-value {
    width: 33%;
    text-align: right;
  }

  &-sell {
    text-align: right;
    width: 33%;
  }
}