$errorColor: #f02525;

.field {
  width: 100%;
  text-align: left;

  &.has-error {
    .box {
      border-color: $errorColor;
      .label { color: $errorColor }
    }
  }

  &:not(.has-error) {
    margin-bottom: .8rem;
  }

  .error {
    color: $errorColor;
    display: block;
    padding: .6rem .4rem;
    line-height: normal;
    text-align: left;
  }

  .select {
    align-items: flex-start;
  }
}
