$errorColor: #f02525;

.field {
  text-align: left;
}

.select {
  text-align: left;
  margin-bottom: .8rem;
  &.has-error {
    border-color: $errorColor;
  }

}

.error {
  color: $errorColor !important;
  display: block;
  padding: 0rem .4rem;
  line-height: normal;
  text-align: left;
  margin: 1rem 0 1rem 0;
  font-size: 1.6rem;
}