.page {
  margin: 0 auto;
  padding: 20px 45px;
  max-width: 960px;
  background-color: whitesmoke;
  color: black;
}

.buyOutcomes, .sellOutcomes {
  width: 100%;
}

.invest {
  width: 100%;
  font-size: 24px;
}