@import "~scss/_variables.scss";

.header {
  background: $white;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  position: relative;
  border-bottom: .1rem solid $greyBorder2;
  align-items: stretch;

  .logo,
  .menu,
  .avatar {
    height: auto;

    &:not(:last-child) {
      border-right: .1rem solid $greyBorder2;
    }
  }

  .logo {
    appearance: none;
    -webkit-appearance: none;
    border: none;
    background: none;
    padding: 0;

    img {
      display: flex;
      height: 100%;
      width: 90%;
      margin: 0 auto;
    }

  }

  .menu {
    flex: 1;
  }
}

