@import "~scss/_variables.scss";

.outcome-selection {
  &-dropdown {
    position: relative;
    padding: 0 2.8em 0 1.4rem;
    border-radius: .2rem;
    border: .1rem solid $greyBorder2;
    background: none;
    color: $shadeBlue;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background: url("~assets/icons/down-angle.svg") right 1rem center / 1.6rem 1rem no-repeat;
    height: 5.2rem;
    @media #{$tablet-small-max} {
      width: 100%;
    }
  }
}