@import "~scss/_variables.scss";

.resolution-date {

  > strong {
    font-size: 1.5rem;
    color: $darkBlue;
  }

  > p {
    margin: 0;
    font-size: 1.4rem;
    color: $shadeBlue;
    line-height: 1.4;
  }
}