.conditional {
  display: flex;
  justify-content: center;
  position: relative;

  $toggleWidth: 50px;
  $toggleHeight: 32px;
  $toggleBorderThickness: 1px;
  $toggleDotWidth: ($toggleHeight - $toggleBorderThickness*2);
  $toggleDotExpand: 1.2;
    
  input[type=checkbox]{
    height: 100%;
    width: $toggleWidth;
    border: none;
    display: block;
    position: absolute;

    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
  
  label {
    cursor: pointer;
    text-indent: -9999px;
    width: $toggleWidth;
    height: $toggleHeight;
    background: grey;
    display: block;
    border-radius: $toggleDotWidth;
    position: relative;
  }

  label:after {
    content: '';
    position: absolute;
    top: $toggleBorderThickness;
    left: $toggleBorderThickness;
    width: $toggleDotWidth;
    height: ($toggleHeight - $toggleBorderThickness*2);
    background: #fff;
    border-radius: $toggleDotWidth;
    transition: 0.3s;
    box-shadow: -1px 7px 2px rgba(0, 0, 0, 0.2);
  }

  input:checked + label {
    background: #009cb4;
  }

  input:checked + label:after {
    left: calc(100% - #{$toggleBorderThickness});
    transform: translateX(-100%);
  }

  label:active:after {
    width: ($toggleDotWidth * $toggleDotExpand);
  }
}