@import "~scss/_variables.scss";
@import "../sidebar.scss";

.buy {
  &-heading {
    @include sidebar-entry;

    font-weight: $bold;
  }

  &-subheading {
    @include sidebar-entry;
    font-weight: $bold;
    font-size: 1.3rem;
    color: $shadeBlue;
    letter-spacing: 0;
    text-align: center;
    border: 0;
    justify-content: center;
    padding: 1.8rem;
  }

  &-empty {
    @include sidebar-empty;
    border-bottom: none;
    white-space: wrap;
    justify-content: center;
  }

  &-confirm {
    @include sidebar-entry;
    padding-top: 0;
  }

  &-summary {
    &-heading {
      @include sidebar-entry;
      padding: 1rem 1.2rem;
      font-size: 1.3rem;
      color: $shadeBlue;
      border-bottom: none;
    }

    &-category {
      @include sidebar-entry;
      font-size: 1.5rem;
      line-height: 1;
      background-color: $grey;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      min-height: 4.6rem;
      padding: 1rem 1.6rem 0;
      flex-flow: row wrap;
    }

    .category-values {
      margin: -1rem 0 0 auto;
      flex: 0 1 auto;
      font-size: 1.3rem;
      letter-spacing: 0;
      text-align: right;
      line-height: 1;

      &-positive {
        color: $green;
      }

      &-negative {
        color: $red;
      }

      .category-value {
        text-align: right;
        white-space: nowrap;
        margin: 0;

        &.value {
          font-weight: $bold;
        }

        &.margin {
          font-size: 80%;
        }
      }
    }

    .category-entries {
      display: flex;
      align-self: center;
      flex-flow: row wrap;
      flex: 1;
    }
  }

  &-investment {
    @include sidebar-entry;
    padding: 1.6rem;
    background-color: $white;
    font-size: 1.5rem;
    justify-content: space-between;
    line-height: 1;
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: none;
    padding-top: 0;

    .buy-invest {
      padding: 0;
      -webkit-appearance: none;
      appearance: none;
      border: none;
      cursor: pointer;
      background: none;
      display: flex;
      font-size: 3.4rem;
      color: $blue;
      outline: 0;
      justify-content: center;
      align-items: center;
      line-height: 0;
      height: 100%;
      margin: -.7rem 0 0 1rem;
      text-align: center;

      &-minus {
        margin: 0 1rem 0 0;
      }

      &:hover, &:focus, &:active {
        color: darken($blue, 20%);
      }
    }

    .input-group {
      position: relative;
      display: flex;
      flex-flow: row nowrap;
      height: 5rem;
      padding: 0;
      font-weight: normal;
      border: .1rem solid $greyBorder2;
      border-radius: .3rem;
      flex: 1;
      justify-content: space-between;
      margin: 0;
    }

    .input {
      border: 0;
      font-size: 1.5rem;
      color: $shadeBlue;
      letter-spacing: 0;
      text-align: right;
      font-weight: normal;
      margin: 0 0 0 auto;
      outline: 0;

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }

    .input-append {
      font-weight: bold;
      font-size: 1.3rem;
      color: $blue;
      letter-spacing: 0;

      &:first-child {}
      &:last-child {}
    }
  }
}

.button {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  text-transform: uppercase;
  display: block;
  width: 100%;
  cursor: pointer;
  color: $white;
  background: $green;
  border-radius: .2rem;
  height: 5.2rem;
  padding: 0 1rem;
  font-weight: $bold;
  font-size: 1.4rem;
  letter-spacing: 0.05rem;

  &.disabled, &:disabled {
    opacity: 0.5;
    cursor: auto;
  }
}

.link-button {
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border: none;
  color: $blue;
  font-size: 1.4rem;
  text-align: right;
  text-decoration: underline;
  float: right;
  cursor: pointer;
  outline: 0;

  &:hover, &:focus, &:active {
    color: darken($blue, 20%);
  }
}

.collateral-name {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    line-height: 1;
    padding: 0 1rem;
    font-weight: $bold;
    font-size: 1.1rem;
    color: $blue;
    letter-spacing: 0;
    text-align: right;
}