@import "~scss/_variables.scss";

.market-table {
  width: 100%;
  border-collapse: collapse;

  thead {
    font-size: 1.1rem;
    font-weight: $bold;
    letter-spacing: .05rem;
    color: $shadeBlue;
    text-transform: uppercase;

    @media (max-width: 960px) {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tr {
      text-align: left;
    }


    th {
      white-space: nowrap;
      padding: 0.4rem 0.8rem;
      height: 5rem;

      em {
        font-style: normal;
        color: $blue;
      }

      &:first-child, &:last-child {
        padding: 0.4rem 2rem;
      }
    }
  }

  tbody {
    background: $white;
    box-shadow: 0 .2rem 1rem 0 rgba(0, 25, 60, 0.10);
    border-radius: .2rem;

    tr {
      @media (max-width: 960px) {
        display: flex;
        flex-wrap: wrap;
        height: auto;
        justify-content: center;

        &:not(.explanation-row) {
          margin-bottom: 1.5rem;
        }

        .explanation {
          width: 100%;
        }
      }
    }

    td {
      @media (max-width: 960px) {
        display: block;
      }

      text-align: left;

      // Index
      &:nth-child(1) {
        text-align: center;
        font-weight: $bold;
      }

      // Probability
      &:nth-child(3) {
        min-width: 30rem;
        padding: 1.2rem 2.4rem;
      }
    }

    .explanation-row {
      &:not(:last-child) {
        border-bottom: .1rem solid $greyBorder2;
      }
    }

    .explanation {
      background-color: $white;
      text-transform: uppercase;
      height: 4.6rem;
      padding: 0;
      background: none;
      vertical-align: middle;
      margin: 0;
      line-height: 4.6rem;
      width: 100%;
      position: relative;

      span {
        width: 5.2rem;
        display: inline-block;
        margin: 0 0 0 -2.1rem;
        padding: 0;
        font-weight: normal;
        font-size: 2rem;
        color: $darkBlue;
        letter-spacing: 0;
        text-align: right;
        height: 100%;
        position: relative;
      }
    }

    .arrow {
      &.explanation-top::after,
      &.explanation-down::after {
        content: "";
        background: url("~assets/icons/arrow.svg") center/contain no-repeat;
        width: 1.1rem;
        height: 2rem;
        display: inline-block;
        margin: 0 0 0 1rem;
        opacity: .5;
        position: absolute;
        top: 1.3rem;
      }
      &.explanation-down::after {
        transform: scaleY(-1);
      }
    }
  }
}