@import "~scss/_variables.scss";

.page {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 3.2rem;
}

.loading-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $blue;
  flex-flow: column wrap;

    > p {
      font-size: 2rem;
      color: $white;
      display: block;
    }
}

.sections {
  display: flex;
  flex-flow: row nowrap;
  flex: 1 1 auto;
  width: 100%;
  box-sizing: border-box;

  @media #{$tablet-small-max} {
    flex-flow: column;
  }

  .section {
    &-markets {
      flex: 1 1 auto;
      width: 75%;
      padding: 0 2rem;
      border-right: .1rem solid $greyBorder2;

        @media #{$tablet-small-max} {
          border: 0;
          padding: 0;
          margin: 0 0 6rem;
          width: 100%;
        }
    }

    &-positions {
      background: $white;
      width: 100%;
      max-width: 32rem;

        @media #{$tablet-small-max} {
          width: 100%;
        }
    }
  }
}

.modal-space {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  min-height: 100%;
  background: $blue;

  &:not(.modal-open) {
    display: none;
  }

  .logo {
    max-height: 4.5rem;
    width: auto;
    margin: 1rem;
  }

  .footer {
    list-style: none;
    padding: 0;

    li {
      display: inline-block;
      margin: 0 1rem;
      color: $white;

      a {
        color: inherit;
        transition: all .4s ease;
        text-decoration: none;

        &:focus, &:active, &:visited, &:hover {
          color: inherit;
          opacity: .8;
        }
      }
    }
  }
}

.app-space {
  display: flex;
  flex-flow: column wrap;

  &.modal-open {
    display: none;
  }
}
