.outcome-stat {
  width: 50%;

  &:not(.selected) {
    color: rgba(0, 0, 0, 0.5);
  }

  &.selected {
    .name {
      font-weight: 800;
    }
  }
}

.stats {
  display: flex;
  flex-wrap: wrap;
  color: inherit;
  margin: 0;

  dt {
    width: 100px;
  }
}